body {
  background-color: #181818;

}

body, #tabs {
  color: #fff;
}

#tabs {
  background-color: #181818;
  color: white;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.followersImage
{
  width: 100px;
}

h1 {
  font-size: 24px;
  color: #fff;
}

#user_name1, #user_name2, #user_name3, #user_name4{
  width: 25%;
}
